<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png" >
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Created By : {{name}}</p>
            <form>
                <input id="search-box" type="text" placeholder="Search location..">
                <button>Search</button>
            </form>
            <p id="p1"></p>
            <p id="p2"></p>
        </div>
        {{>footer}}
        <script src="/js/script.js"></script>
    </body>
</html>